<h1>Team</h1>

<%= render partial: "display_long", locals: { team: @team } %>

<%= render partial: "display_edit", locals: { team: @team } if @team.owned_by? current_user %>

<%= link_to "Back to index", teams_path %>
