<h1>Team</h1>

<%= render partial: "display_long", locals: { team: @team } %>

<h2>Edit</h2>
<% if @team.member_ids.include? current_user.id %>
  <%= form_for @team, url: { action: "update" } do |f| %>
    <%= render partial: "form", locals: { f: f } %>
  <% end %>
<% end %>

<%= link_to "Back to index", teams_path %>
