<h1>Teams</h1>
<h2>Add a team</h2>
  <% flash.each do |name, msg| %>
    <%= msg %>
  <% end %>
  <%=
    form_for @team, url: { action: "create" } do |f|
      render partial: "form", locals: { f: f }
    end
  %>
<h2>List of teams</h2>
<ul>
  <% @teams.each do |team| %>
    <li>
      <%= render partial: "display_short", locals: { team: team } %>
    </li>
  <% end %>
</ul>
<%= paginate @teams %>
