<% flash.each do |name, msg| %>
  <%= msg %>
<% end %>

<h1>Add a game</h1>
<%=
  form_for @game, url: { action: "create" } do |f|
    render partial: "form", locals: { f: f }
  end
%>

<h1>Games</h1>
<ul>
  <% @games.all.each do |game| %>
    <li>
      <%= render partial: "display_short", locals: { game: game } %>
    </li>
  <% end %>
</ul>
<%= paginate @games %>
